#ceo-pic {
    width: 25%;
    height: 25%;
}

#manager-pic {
    width: 25%;
    height: 25%;
}

#director-pic {
    width: 20%;
    height: 20%;
}

#janitor-pic {
    width: 20%;
    height: 20%;
}

#stakeholder-pic {
    width: 20%;
    height: 20%;
}

#stakeholder2-pic {
    width: 25%;
    height: 25%;
}

#story {
    display: flex;

}

#mission {
    display: flex;
}


.story-div {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 150%
}

.mission-div {
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 150%
}