body {
    font-family: 'Arial', sans-serif;
}

h2, h3 {
    font-family: 'Helvetica', sans-serif;
}


.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    font-size: 18px;
}

.contacts {
    font-size: 20px;
    
}

.contacts {
    opacity: 0; 
    background-color: rgba(79, 79, 63, 0.716);
    padding-top: 50px;
    padding-bottom: 50px;
    animation: text-appear 1s ease-out forwards; 
    border-radius: 10px;
    

}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateX(20px); 
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}   