.box {
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#monitor {
    width: 75%;
    height: 75%;
}

#tablet {
    width: 75%;
    height: 75%;
}

#smartphone {
    width: 75%;
    height: 75%;
}

#earphones {
    width: 75%;
    height: 75%;
}