body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #343a40;
}

.navbar-brand {
    font-size: 24px;
}

.nav-link {
    font-size: 18px;
}

.home {
    opacity: 0;
    background-color: rgba(79, 79, 63, 0.716);
    padding-top: 50px;
    padding-bottom: 50px;
    animation: text-appear 1s ease-out forwards;
    border-radius: 10px;


}

.box {
    height: 300px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

#monitor {
    width: 75%;
    height: 75%;
}

#tablet {
    width: 75%;
    height: 75%;
}

#smartphone {
    width: 75%;
    height: 75%;
}

#earphones {
    width: 75%;
    height: 75%;
}

@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}